{% extends "layout/base.html" %}

{% block title %}
    Post Details
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-danger my-4">Post Details</h1>
        <div class="card col-4">
            <div class="card-body">
                <img src="{{ url_for('static', filename='posts/images/' + post.image) }}" alt="Image" class="card-img-top" style="height: 200px;">
                <h5 class="card-title">{{ post.name }}</h5>
                <p class="card-text">{{ post.body }}</p>
                <p class="card-text">Created at: {{ post.created_at }}</p>
                <p class="card-text">Updated at: {{ post.updated_at }}</p>
            </div>
        </div>
    </div>
{% endblock %}
